<section class="px-5 py-7 text-center my-10">
  <h1 nata-h1 class="font-bold">Predict maternal risk before it becomes critical</h1>

  <p class="mx-auto mt-3.5 max-w-3xl text-sm leading-5">
    NataBridge empowers <i>healthcare workers</i> with Ai-assisted maternal risk assessment tools,
    turning clininal data into life-saving early warnings for expecting mothers.
  </p>

  <button class="nata-btn primary mx-auto px-7.5 py-2.5 mt-6 capitalize" routerLink="/assessment">
    Start assessment
  </button>

  <div class="mt-15 mx-auto w-full max-w-6xl">
    <img
      src="./home-heros.webp"
      alt="image depicting a pregnant woman"
      class="w-full max-h-96 object-cover object-center rounded-2xl"
    />
  </div>
</section>

<section class="px-4.5 py-5 min-h-dvh flex flex-col justify-center bg-(--nata-secondary)/15">
  <header class="mb-18">
    <fieldset class="border-t" data-aos="fade-left" data-aos-duration="1000">
      <legend class="text-3xl capitalize pl-3.5 pr-7">
        why early maternal risk detection matters
      </legend>
      <p></p>
    </fieldset>
  </header>
  <div class="nata-grid-container" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
    <div class="grid-content card">
      <p class="capitalize" nata-lead>late detection</p>
      <p class="text-sm">
        Over 60% of complications are
        <span class="text-(--nata-primary-hover) font-medium">identified too late</span> due to lack
        of real-time monitoring tools in clinical settings.
      </p>
    </div>
    <div class="grid-content card">
      <p class="capitalize" nata-lead>Maternal Mortality</p>
      <p class="text-sm">
        Informed interventions could prevent 80% of
        <span class="text-(--nata-primary-hover) font-medium">maternal deaths</span> worldwide
        through early warning systems.
      </p>
    </div>
    <div class="grid-content card">
      <p class="capitalize" nata-lead>clinical workload</p>
      <p class="text-sm">
        Healthcare worker are
        <span class="text-(--nata-primary-hover) font-medium">overburdened</span>; NataBridge
        automates risk scoring to let providers focus on patient care
      </p>
    </div>
  </div>
</section>

<section class="min-h-dvh px-4.5 pt-20 pb-5">
  <header class="mb-5">
    <p class="text-4xl capitalize" data-aos="fade-right">
      how natabridge <br />secures better outcomes
    </p>
  </header>
  <article class="step-container">
    <div class="step" data-aos="fade-up">
      <p class="capitalize" nata-lead>register mother</p>
      <p nata-muted>Capture patient demographics and history</p>
    </div>

    <div class="step" data-aos="fade-up" data-aos-delay="100">
      <p class="capitalize" nata-lead>perform assessment</p>
      <p nata-muted>Guided digital health checkup</p>
    </div>

    <div class="step" data-aos="fade-up" data-aos-delay="200">
      <p class="capitalize" nata-lead>ai risk prediction</p>
      <p nata-muted>Instant scoring using clinical models</p>
    </div>

    <div class="step" data-aos="fade-up" data-aos-delay="300">
      <p class="capitalize" nata-lead>clinical plans</p>
      <p nata-muted>Personalised health recommendation</p>
    </div>

    <div class="step" data-aos="fade-up" data-aos-delay="400">
      <p class="capitalize" nata-lead>continuous care</p>
      <p nata-muted>Long term tracking of vitals</p>
    </div>
  </article>
</section>

<section
  class="mx-auto flex min-h-dvh flex-col justify-center bg-(--nata-primary-hover) px-10 py-10"
>
  <fieldset class="border-2 border-(--muted)/40 rounded-2xl py-10 pt-14 px-7.5">
    <legend>
      <p class="px-3.5 uppercase text-(--muted) font-semibold">What people say</p>
    </legend>
    <div class="rounded-2xl">
      <ng-icon name="fluentTextQuoteOpening" class="font-bold text-(--muted)" />
      <p class="text-lg text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium placeat ratione vel
        molestiae maxime! Delectus soluta, iste tenetur sed, mollitia dolores cum dolorum
        repudiandae consequuntur labore modi aliquid porro quo!
      </p>
    </div>
    <blockquote class="text-(--muted)/50 capitalize mt-5 flex-center gap-x-3.5">
      <img
        src="user-profile.webp"
        alt="testator's profile"
        class="max-h-10 aspect-square rounded-full object-cover"
      />
      <article>
        <p class="text-white font-medium">ojibo oche</p>
        <p>the ceo, natabridge</p>
      </article>
    </blockquote>
  </fieldset>
</section>

<section class="py-30 px-50 max-md:px-25 max-sm:px-5" data-aos="zoom-in">
  <article
    class="py-14 px-12 max-md:px-10 max-sm:px-5 rounded-2xl bg-(--nata-accent) text-white text-center"
  >
    <h1 nata-h1>Ready to Transform Maternal Outcomes?</h1>
    <p class="mt-6 mb-6 px-30 max-md:px-3.75">
      Join hundreds of healthcare facilities already using NataBridge to make maternal healthcare
      safer and smarter
    </p>
    <button
      class="bg-white text-(--nata-accent) rounded-sm px-6 py-1.5 scale-105 mx-auto hover:bg-neutral-100"
      routerLink="/assessment"
    >
      Take a demo
    </button>
  </article>
</section>

<nata-footer />
