<section class="flex-center justify-between px-2.5 py-3.5 backdrop-blur-xs sticky top-0">
  <a href="/" class="flex-center gap-1.5 pl-1.5">
    <img src="logo.webp" alt="natabridge's logo" class="h-8.5" />
    <span class="text-(--nata-primary-hover) text-sm font-semibold max-sm:hidden">NataBridge</span>
  </a>

  <div class="flex-center gap-x-10 max-sm:gap-x-2.5 text-sm">
    <a href="" class="capitalize hover:scale-105 hover:font-medium transition-all">How it works</a>
    <button class="nata-btn primary px-5 py-1.25" routerLink="auth">Login</button>
  </div>
</section>
